.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-button-row,
.link-buttons {
  margin-left: 1%;
}

.link-buttons {
  margin-left: 1%;
}

.link-each-button {
  margin-right: 0.5%;
}

.run-number {
  margin-right: 10px;
}

.mat-table,
.mat-expansion-panel {
  background-color: oldlace;
}



.runInfo {
  height: 200px;
}

.input-elements {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 40%;
}