<div>
  <mat-form-field class="run-number">
    <input
      type="number"
      matInput
      placeholder="Next run number"
      [disabled]="this.autoIncFlag"
      [(ngModel)]="this.nextRunNo"
    />Next run number
  </mat-form-field>
  <mat-checkbox [(ngModel)]="this.autoIncFlag"
    >Autoincrement run number</mat-checkbox
  >
</div>

<div class="example-button-row">
  <button
    mat-raised-button
    color="accent"
    (click)="onPostConfig()"
    [disabled]="!this.daqButtonState.configure"
  >
    <mat-icon>settings</mat-icon> Configure
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onPostStart()"
    [disabled]="!this.daqButtonState.start"
  >
    <mat-icon>play_arrow</mat-icon> Start
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onPostStop()"
    [disabled]="!this.daqButtonState.stop"
  >
    <mat-icon>stop</mat-icon> Stop
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="onPostUnconfig()"
    [disabled]="!this.daqButtonState.unconfigure"
  >
    <mat-icon>settings</mat-icon> Unconfigure
  </button>
  <br />
  <button
    mat-raised-button
    color="primary"
    (click)="onPostConfigAndStart()"
    [disabled]="!this.daqButtonState.confAndStart"
  >
    <mat-icon>play_arrow</mat-icon> Conf & Start
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onPostStopAndUnconfig()"
    [disabled]="!this.daqButtonState.stopAndUnconf"
  >
    <mat-icon>stop</mat-icon> Stop & Unconf
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="onPostDryRun()"
    [disabled]="!this.daqButtonState.confAndStart"
  >
    <mat-icon>play_arrow</mat-icon> Dry Run
  </button>
</div>

@if (this.spinnerFlag) {
<div>
  <h2>Data writing</h2>
  <mat-spinner></mat-spinner>
</div>
}
